<div class="new-body">
    <app-nav [kindNav]="'navbar-light'"></app-nav>
    <div class="body-academy-detail">
        <div class="img-body-academy-detail">
        </div>
        <div class="content-academy-detail">
            <div>
                <h1 class="title">A beginners guide to painting like a pro</h1>
            </div>
            <div class="content-progress d-flex flex-row align-items-baseline">
                <div class="control-progress">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <span class="progress-text">2 of 14 lessons</span>
            </div>
            <div class="content-cards-academy scroll-theme">
                <app-card-detail></app-card-detail>
                <app-card-detail></app-card-detail>
                <app-card-detail></app-card-detail>
                <app-card-detail></app-card-detail>
                <app-card-detail></app-card-detail>
            </div>
        </div>
    </div>
</div>