<div class="card-static">
    <div class="card-static-body scroll-theme">
        <app-mix-nav></app-mix-nav>
        <div class="mix-body mt-4">
            <h6 class="mix-title">Step</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="form-container col-12 col-md-8 col-sm-10 m-auto">
            <form action="#">
                <div class="d-flex flex-column">
                    <div class="form-group col-12">
                        <label for="buddy">Your patner's name</label>
                        <input type="text" name="buddy" id="buddy" class="form-control">
                    </div>

                    <div class="form-group col-12">
                        <label for="name">Your name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>