<div class="cont">
    <div class="register-special-header d-flex flex-row justify-content-between col-12 col-sm-12 col-md-12 align-items-center">
        <p class="title">Register special date</p>
        <fa-icon [icon]="faPlayCircle" class="ico-general"></fa-icon>
    </div>
    <hr class="p-0 m-0 mb-3">
    <div class="register-special-body scroll-theme">
        <div class="half">
            <h6 class="font-title">Description</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, doloribus. Aut, architecto velit.
                Ea eius, ullam voluptatem fugit impedit exercitationem distinctio, amet quis quia reprehenderit
                voluptatum cupiditate laborum vero rem.
            </p>
        </div>
        <div class="half">
            <h6 class="font-title">Example</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, doloribus. Aut, architecto velit.
                Ea eius, ullam voluptatem fugit impedit exercitationem distinctio, amet quis quia reprehenderit
                voluptatum cupiditate laborum vero rem.
            </p>
        </div>
    </div>
</div>