<div class="cont">
    <div class="register-special-header d-flex flex-row justify-content-between col-12 col-sm-12 col-md-12">
        <p>Register special date</p>
        <fa-icon [icon]="faPlayCircle" class="ico-general"></fa-icon>
    </div>
    <hr>
    <div class="register-special-body">
        <div>
            <h6>Description</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, doloribus. Aut, architecto velit.
                Ea eius, ullam voluptatem fugit impedit exercitationem distinctio, amet quis quia reprehenderit
                voluptatum cupiditate laborum vero rem.
            </p>
        </div>
        <div>
            <h6>Example</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, doloribus. Aut, architecto velit.
                Ea eius, ullam voluptatem fugit impedit exercitationem distinctio, amet quis quia reprehenderit
                voluptatum cupiditate laborum vero rem.
            </p>
        </div>
    </div>
</div>