hr {
    border-color: var(--color-background-main-car);
}

.register-special-header {
    font-size: 2.5rem;
    padding: 0 1.4375rem;
}

.register-special-body {
    height: 50vh;
    overflow: auto;
    text-align: justify;
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0.0313rem;
    padding: 0 1.4375rem;
}

.ico-general {
    color: var(--color-background-main-car);
}

.font-title{
    font-weight: 600;
}

.title{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}