<span class="mt-3">Or use</span>
<div class="d-flex flex-row justify-content-between">
    <div class="method-sign facebook d-flex flex-row justify-content-center align-items-center">
        <fa-icon [icon]="faFacebookF" class="ico-input ico-white pr-2 facebook-ico"></fa-icon>
        facebook
    </div>
    <div class="method-sign google d-flex flex-row justify-content-center align-items-center">
        <fa-icon [icon]="faGoogle" class="ico-input pr-2 google-ico"></fa-icon>
        google
    </div>
</div>