<div class="card card-skill">
    <div class="card-body d-flex flex-row flex-wrap col-12">
        <div class="card-skill-image col-3 col-sm-2 col-md-2">
            <div class="image-round"></div>
        </div>
        <div class="card-skill-content d-flex flex-column col-9 col-sm-10 col-md-10">
            <div class="card-skill-header d-flex flex-row justify-content-between">
                <div class="card-skill-title">
                    <h6>Skill</h6>
                </div>
                <div><app-badges></app-badges></div>
            </div>
            <div class="card-skill-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>