.card-skill {
    border-color: white;
    border-radius: 20px;
    margin: .2em;
}

.card-skill:hover {
    background-color: var(--color-skill-card-active);
}

.image-round {
    width: 4em;
    height: 4em;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 50%;
    margin: .2em;
}

.card-skill-info {
    color: var(--color-font-skill-card-info);
    font-size: .8em;
}

.card-skill-title {
    color: var(--color-font-skill-card-title);
}

.card-body{
    padding: .5rem;
}