<div class="sing-body d-flex flex-column">
    <div class="head-text d-flex flex-column justify-content-center">
        <h1 class="text-center text-format">Wafflie <br/> Log In</h1>
    </div>
    <div>
        <app-form-sign></app-form-sign>
    </div>
    <div class="method-zone">
        <app-methods></app-methods>
    </div>
    <div class="button-zone">
        <app-button-sign [title]="'LOG IN'" [path]="'/dashboard'" [links]="'Signup here'" [legend]="'Don’t have an account?'"></app-button-sign>
    </div>
</div>