<form id="accounts" class="sign">
    <div class="form-group d-flex flex-row justify-content-between">
        <label for="alexa" class="label-check">Amazon Alexa</label>
        <div class="check">
            <input id="alexa" type="checkbox" class="tgl tgl-light">
            <label class="tgl-btn" for="alexa"></label>
        </div>
    </div>
    <div class="form-group d-flex flex-row justify-content-between">
        <label for="googleHome" class="label-check">Google Home</label>
        <div class="check">
            <input id="googleHome" type="checkbox" class="tgl tgl-light">
            <label class="tgl-btn blue" for="googleHome"></label>
        </div>
    </div>
</form>