<div class="card card-template">
    <div class="card-body d-flex flex-row flex-wrap col-12">
        <div class="card-template-button d-flex flex-column col-2 col-sm-1 col-md-1 justify-content-center">
            <div class="template-button">
                <fa-icon [icon]="faPlay"></fa-icon>
            </div>
        </div>
        <div class="card-template-content d-flex flex-row col-10 col-sm-11 col-md-11">
            <div class="card-template-content d-flex flex-column col-11 col-sm-11 col-md-11">
                <div class="card-template-header d-flex flex-row justify-content-between">
                    <div class="card-template-title">
                        <h6>Template</h6>
                    </div>
                </div>
                <div class="card-template-info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="card-template-ico d-flex flex-column col-1 col-sm-1 col-md-1 justify-content-center">
                <fa-icon [icon]="faHeart" class="ico-heart"></fa-icon>
            </div>
        </div>
    </div>
</div>