.card-template {
    border-color: white;
    border-radius: 1.25rem;
    margin: .5rem 0;
}

.card-template:hover {
    background-color: var(--color-skill-card-active);
}

.card-body {
    padding: 0.3125rem;
}

.card-template-title {
    margin: 0;
    padding: 0;
}

.card-template-title {
    margin: 0;
    padding: 0.3125rem 0 0 0;
}

.font-title {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.3125rem;
    color: var(--color-font-template-title);
    letter-spacing: 0.00050625px;
}

.card-template-info {
    font-size: .8em;
    color: var(--color-font-template-info);
}

.ico-heart {
    color: var(--color-ico-general);
}

.ico-heart:hover {
    color: var(--main-color);
}

.image-round {
    width: 3.4375rem;
    height: 3.4375rem;
    display: inline-block;
    background-color: var(--color-background-badge-dinner);
    border-radius: 50%;
    margin: .2em;
}

.ico-play {
    padding: 3px 0 0 3px;
    font-size: 1.0625rem;
}

.card-template-content{
    margin: 0;
    padding: 0;
}

.content-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
