.card-template {
    border-color: white;
    border-radius: 1.25rem;
    margin: .5rem 0;
}

.card-template:hover {
    background-color: var(--color-skill-card-active);
}

.card-body {
    padding: 0.3125rem;
}

.card-template-title {
    margin: 0;
    padding: 0.3125rem 0 0 0;
}

.font-title {
    margin: 0;
    padding: 0;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 1.0625rem;
    line-height: 1.3125rem;
    color: var(--color-font-template-title);
    letter-spacing: 0.00050625px;
}

.card-template-info {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.00039375px;
    color: var(--color-font-template-info);
}

.ico-heart {
    color: var(--color-ico-general);
}

.ico-heart:hover {
    color: var(--main-color);
}

.card-template-content {
    margin: 0;
    padding: 0;
}

.content-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-template-button {
}