<div class="card-static">
    <div class="card-static-body scroll-theme">
        <app-mix-nav [op]="op"></app-mix-nav>
        <div class="mix-body">
            <h6 class="mix-title">Step</h6>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="form-container col-12 col-md-8 col-sm-10 m-auto scroll-theme">
            <form action="#">
                <div class="form-items">
                    <span *ngFor="let item of items">
                        <app-fun-fac [item]="item"></app-fun-fac>
                    </span>
                </div>
            </form>
        </div>
        <app-white-plus-button [title]="'Add element'"></app-white-plus-button>
    </div>
</div>