.container {
    height: 20vh;
}

.title-font {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 2.625rem;
    letter-spacing: 0.000984375px;
}