.body-academy {
    padding: 0 1.5625rem 2.8125rem 1.5625rem;
}

.academy-title {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.00084375px;
    margin-bottom: 1.375rem;
}

.academy-card-container{
    margin-top: 2.5625rem;
    height: 40vh;
}
.body-content-academy{
    height: 66vh;
    overflow: auto;
}