<div class="new-body">
    <app-nav [kindNav]="'navbar-light'"></app-nav>
    <div class="body-academy">
        <h1 class="academy-title">What would you like to learn today?</h1>
        <div>
            <app-search></app-search>
        </div>
        <div class="body-content-academy scroll-theme">
            <div class="academy-card-container">
                <app-item-card-academy></app-item-card-academy>
            </div>
            <div class="academy-card-container">
                <app-item-card-academy></app-item-card-academy>
            </div>
        </div>
    </div>
</div>
<app-bottom-nav class="nav-bottom"></app-bottom-nav>