<div class="card-static-white">
    <div class="card-static-body scroll-theme">
        <h5 class="font-title">Ingredients</h5>
        <app-ingredients-nav [items]="items"></app-ingredients-nav>
        <app-white-plus-button [title]="'Add ingredients'"></app-white-plus-button>
        <div class="choose-recipe d-flex flex-row justify-content-center">
            <app-bottom-button [title]="'Choose this recipe'" [classCustome]="'hide'" [modePosition]="'mod'"
                [path]="'/addMix'"></app-bottom-button>
        </div>
    </div>
</div>