.bottom-nav{
    background-color: var(--color-background-main-card);
    position: fixed;
    height: 7vh;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}
.nav-content{
    font-size: 1.25rem;
}

.ico-active{
    font-size: 2.9rem;
}