<div class="card-static-dark">
    <div class="card-static-body scroll-theme">
        <div class="head-card d-flex flex-row">
            <div class="col-2 m-0 p-0">
                <fa-icon [icon]="faPlusCircle" class="ico-white plus-ico m-auto p-0"></fa-icon>
            </div>
            <div class="col-10 d-flex flex-column justify-content-center p-0 m-0">
                <h6 class="font-title">Anniversary gift</h6>
                <span class="level-text">Free tier</span>
            </div>
        </div>
        <div class="text-area scroll-theme">
            <p>
                I have moved to this city three months ago. I love the street food here. On weekends, I explore new
                eating joints. This way, I get to learn the routes of this city and prepare myself professionally. Being
                a sales professional, my profile requires a lot of traveling.
            </p>
        </div>
        <div class="choose-recipe d-flex flex-row justify-content-center">
            <app-bottom-button [title]="'Cook it!!'" [classCustome]="'hide'" [modePosition]="'mod-dark'" [path]="'/saved'" [shadow]="'shadow-dark'"></app-bottom-button>
        </div>
    </div>
</div>