.card-static-dark {
    position: fixed;
    bottom: 0;
    height: 0vh;
    width: 100vw;
    background-color: var(--color-background);
    border-radius: 2.1875rem 2.1875rem 0 0;
    animation-name: sweepup2;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    padding: 0.9375rem 1.5625rem 0 1.5625rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.0625rem;
}

.card-static-dark:hover{
    animation-name: sweepup3;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes sweepup2 {
    from {
        height: 0vh;
    }
    to {
        height: 5vh;
    }
}


@keyframes sweepup3 {
    from {
        height: 0vh;
    }
    to {
        height: 37.7vh;
    }
}


.card-static-body {
    overflow: hidden;
}

.plus-ico {
    font-size: 2.8125rem;
}

.level-text {
    color: var(--main-color);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.0643rem;
}

.text-area {
    overflow: auto;
    height: 135px;
    /* height: 9vh; */
    text-align: justify;
}

.text-area p{
    height: 100%;
}

.font-title {
    font-weight: 500;
    line-height: 1.0625rem;
    letter-spacing: 0.075rem;
}

.head-card {
    margin-bottom: 20px;
}