@import '../../auth/auth.component';
.info-text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.000365625px;
    color: var(--info-font);
    text-justify: distribute;
    text-align: justify;
}

.ico-input {
    font-size: 35px;
}

.marK-font {
    color: var(--main-color);
}