<div class="card-static">
    <div class="col-12 d-flex flex-column justify-content-center">
        <app-categories-nav></app-categories-nav>
    </div>
    <div class="card-static-body">
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
        <app-template-card></app-template-card>
    </div>
</div>