.bottom-button {
    background-color: var(--color-background-main-card);
    position: fixed;
    height: 75px;
    width: 100vw;
    bottom: 0;
    z-index: 10;
}

.btn-main {
    background-color: var(--main-color);
    color: var(--general-font);
    border-radius: 1.25rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9375rem;
    letter-spacing: 0.0625rem;
    height: 55px;
}

.hide {
    display: none;
}

.mod {
    position: relative;
}

.mod-dark {
    left: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.shadow-dark {
    box-shadow: 0px 0px 50px 30px var(--color-background);
}

.mod-p{
    padding-top: 0.625rem;
}