<div class="ingredients-nav col-12 d-flex flex-row flex-nowrap non-selectable justify-content-center">
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
</div>