<div class="ingredients-nav col-12 d-flex flex-row flex-nowrap non-selectable p-0">
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
    <app-ingredients-item></app-ingredients-item>
</div>