@import '../../add-to-mix/main-card-mix/main-card-mix.component';
.card-static {
    background-color: var(--color-background);
}

@keyframes sweepup {
    from {
        height: 0vh;
    }
    to {
        height: 5vh;
    }
}

.card-static-body {
    overflow: hidden;
    margin: 1em;
    height: 90%;
    color: var(--color-font-skill-card-info);
}

.card-static:hover {
    animation-name: sweepup2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes sweepup2 {
    from {
        height: 0vh;
    }
    to {
        height: 37vh;
    }
}

.almost-title{
    font-size: .8rem;
}

.score{
    font-size: .8rem;
}

.ico-cart{
    font-size: 1.6rem;
}

.rate{
    font-size: 2rem;
    font-weight: bold;
}

.star-rate{
    margin: 0.125rem;
}

.button{
    color: var(--general-font);
}

.content-text-shop{
    font-size: 1rem;
}

.name-text{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}