<div class="card-static">
    <div class="card-static-body scroll-theme">
        <div class="head-text d-flex flex-row justify-content-between align-items-center align-items-baseline">
            <fa-icon class="ico-cart" [icon]="faShoppingCart"></fa-icon>
            <div class="almost-title">Almost it's yours</div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row align-items-baseline">
                    <span class="rate">3.8</span>
                    <fa-icon class="star-rate" [icon]="faStar" style="font-weight: normal;"></fa-icon>
                    <fa-icon class="star-rate" [icon]="faStar" style="font-weight: normal;"></fa-icon>
                    <fa-icon class="star-rate" [icon]="faStar" style="font-weight: normal;"></fa-icon>
                    <fa-icon class="star-rate" [icon]="faStar" style="font-weight: normal;"></fa-icon>
                    <fa-icon class="star-rate" [icon]="faStar" style="font-weight: normal;"></fa-icon>
                </div>
                <div class="score">567 calificaciones</div>
            </div>
        </div>
        <div class="content-text-shop">
            <p class="name-text">Eva Ramos</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab in adipisci magnam veritatis, possimus
                laborum est.</p>
        </div>
        <div>
            <app-button-sign class="button" [title]="'Buy now'"></app-button-sign>
        </div>
    </div>
</div>