@import '../../add-to-mix/main-card-mix/main-card-mix.component';
.card-static {
    padding: 1.875rem 1.25rem 0 1.25rem;
    background-color: var(--color-background);
}

@keyframes sweepup {
    from {
        height: 0vh;
    }
    to {
        height: 5vh;
    }
}

.card-static-body {
    overflow: hidden;
    margin: 0;
    height: 90%;
    color: var(--color-font-skill-card-info);
}

/* .card-static:hover {
    animation-name: sweepup2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
} */

.growUpBlackCard {
    animation-name: sweepup2;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes sweepup2 {
    from {
        height: 0vh;
    }
    to {
        height: 41vh;
    }
}

.almost-title, .score {
    font-size: 0.9375rem;
}

.ico-cart {
    font-size: 1.6rem;
}

.rate {
    font-size: 1.875rem;
    font-weight: 700;
}

.star-rate {
    margin: 0.125rem;
}

.button {
    color: var(--general-font);
}

.content-text-shop {
    font-size: 1.0625rem;
    color: var(--general-font);
}

.name-text {
    font-weight: 700;
    margin: 0;
}
.price-tag{
    margin: 0;
    color: var(--main-color);
    font-size: 1.875rem;
    font-weight: 700;
    text-align: end;
}

.text-content{
    margin-bottom: 0;
}