<div class="button-group">
    <div class="d-flex flex-row ">
        <fa-icon [icon]="faInfoCircle" class="ico-input ico-white pr-2"></fa-icon>
        <p class="info-text">By subscribing, you accept Waflie’s the <span class="mark-text">Terms and Conditions</span>. Remeber that you can cancel at any time.</p>
    </div>
    <div class="buttons-container d-flex flex-row justify-content-between non-selectable">
        <div class="btn-upgrade d-flex flex-column justify-content-center">Become a chef</div>
        <div class="btn-upgrade btn-upgrade-white d-flex flex-column justify-content-center">7 days free trial</div>
    </div>
</div>