<div class="new-body">
    <app-nav [kindNav]="'navbar-light'"></app-nav>
    <div class="body-shop">
        <h1 class="shop-title"><b>Recipi</b>Shop</h1>
        <div>
            <app-search></app-search>
        </div>
        <div class="container-card-ico d-flex flex-row justify-content-between scroll-theme">
            <span *ngFor="let item of items">
                <app-item-shop [item]="item"></app-item-shop>
            </span>
        </div>
        <div class="shop-card-container scroll-theme">
            <span *ngFor="let card of cards">
                <app-shop-card [card]="card" (response)="openClose($event)"></app-shop-card>
            </span>
        </div>
    </div>

    <app-main-card-shop [newClass]="newClass"></app-main-card-shop>
</div>