/* You can add global styles to this file, and also import other style files */

:root {
    --color-background: #202020;
    --general-font: #fff;
    --main-color: #FD4F6B;
    --main-color-dark: #DE2D4A;
    --color-background-main-card: #fff;
    --color-skill-card-active: #F4F6FF;
    --color-font-main: #FF2D55;
    --color-font-skill-card-title: #000;
    --color-font-skill-card-info: #ABABAB;
    --color-background-badge-desert: #FFCE26;
    --color-background-badge-dinner: #54DBFF;
    --color-ico-general: #C7C7CC;
    --inactive-font: #C9CBCE;
    --info-font: #D2D2D2;
    --color-font-template-info: #B8C0C9;
    --color-font-template-title: #404B63;
    --color-red: #FF0000;
    --color-red-low: #FF6A6A;
    --color-grey: #343434;
    --color-facebook: #4267B2;
    --color-google: #fff;
    --color-font-google: #EA4335;
    --color-check-active: #348899;
    --color-check-inactive: #B3205F;
    --color-progress-bar: #63A25E;
    --color-light-grey: #ECEDF2;
}

body {
    background-color: var(--color-background);
    color: var(--general-font);
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 400;
}

.link {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 4.375rem;
    cursor: pointer;
}

.link:hover {
    color: var(--color-font-main);
}

.scroll-theme::-webkit-scrollbar {
    width: 4px;
    /* Tamaño del scroll en vertical */
    height: 4px;
    /* Tamaño del scroll en horizontal */
    display: auto;
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.scroll-theme::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.scroll-theme::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.scroll-theme::-webkit-scrollbar-thumb:active {
    background-color: var(--main-color);
}

.scroll-theme::-webkit-scrollbar-track {
    background: var(--color-background-main-card);
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */

.scroll-theme::-webkit-scrollbar-track:hover, .scroll-theme::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}

.ico-general {
    color: var(--color-ico-general);
}

.ico-active {
    color: var(--main-color);
}

.ico-white {
    color: var(--general-font);
}

.ico-black {
    color: var(--color-font-skill-card-title);
}

.non-selectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-main {
    background-color: var(--main-color);
    color: var(--general-font);
    border-radius: 1.25rem;
    cursor: pointer;
}

.btn-main:hover {
    opacity: .8;
}

/* Check box */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--color-background);
}

.container:hover input~.checkmark {
    background-color: var(--color-red-low);
}

.container input:checked~.checkmark {
    background-color: var(--main-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 9px;
    height: 15px;
    border: solid var(--general-font);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul {
    list-style: none;
    /* Quitamos los marcadores */
    padding: 0;
    /* Quitamos el padding por defecto de la lista */
    margin: 0;
    /* Separamos la lista de la izquierda */
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
}

li::before {
    /* Añadimos contenido antes de cada elemento de la lista */
    content: "#";
    /* Insertamos el marcador */
    padding: 0;
    margin: 0;
    /* Establecemos el espacio entre las viñetas y el list item */
    color: var(--color-font-main);
    font-size: 1.875rem;
    font-weight: 900;
    /* line-height: 36px; */
    /* Coloreamos la viñeta */
}

.new-body {
    color: var(--color-font-skill-card-title);
    background-color: var(--color-background-main-card);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}