.card-static {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100vw;
    background-color: var(--color-background-main-card);
    border-radius: 2.1875rem 2.1875rem 0 0;
    padding: 1.875rem 0.9375rem 0 0.9375rem;
    animation-name: sweepup;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes sweepup {
    from {
        height: 0;
    }
    to {
        height: 70vh;
    }
}

.card-static-body {
    overflow: auto;
    margin: 0;
    height: 88%;
}