.card-static {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100vw;
    background-color: var(--color-background-main-card);
    border-radius: 35px 35px 0 0;
    padding: 30px 15px 0 15px;
    animation-name: sweepup;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes sweepup {
    from {
        height: 0;
    }
    to {
        height: 70vh;
    }
}

.card-static-body {
    overflow: auto;
    margin: 0;
    height: 90%;
}