<div class="card-static">
    <div class="card-static-body scroll-theme">
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
        <app-skill-card></app-skill-card>
    </div>
</div>