<div class="card-static">
    <div class="card-static-body scroll-theme">
        <app-mix-nav [op]="op"></app-mix-nav>
        <div class="mix-body">
            <h6 class="mix-title">Show photo</h6>
            <p class="m-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </div>
        <div class="media-container col-12 d-flex flex-column">
            <div class="view-photo">
                <div class="view text-center d-flex flex-row justify-content-center">
                    <div #view class="view-img d-flex flex-column justify-content-end align-items-end">
                        <span class="circle-button d-flex flex-column justify-content-center">
                            <fa-icon [icon]="faMinus" class="ico-white"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
            <div class="font-galery d-flex flex-row justify-content-between align-items-baseline">
                <h6 class="galery-title">Current galery</h6>
                <fa-icon [icon]="faLongArrowAltRight" class="ico-black"></fa-icon>
            </div>
            <div class="galery d-flex flex-row">
                <div class="element-galery scroll-theme">
                    <span *ngFor="let photoItem of photoItems">
                        <app-photo-item [photoItem]="photoItem" (response)="setViewImg($event)" class="imgViewContent"></app-photo-item>
                    </span>
                </div>
                <div class="add-element-galery">
                    <div class="photo-item photo-item-add d-flex flex-row justify-content-center align-items-center">
                        <fa-icon [icon]="faPlus" class="ico-white"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>