@import '../../dashboard/main-card/main-card.component';
.mix-body {
    color: var(--color-font-skill-card-info);
    margin: 2.8125rem 0 1.25rem 0;
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 1.125rem;
    letter-spacing: 0.000365625px;
}

.mix-title {
    color: var(--color-font-skill-card-title);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    letter-spacing: 1.33333px;
}

.media-container {
    padding: 0;
    height: 40vh;
}

.view {
    height: 100%;
}

.view-img {
    padding: 0;
    margin: 0;
    height: 132.5px;
    width: 240px;
    background-image: url('/assets/firework.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.875rem;
}

.background-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.view-photo {
    padding: 0;
    margin-bottom: 1.1875rem;
    height: 8.2813rem;
}

.circle-button {
    cursor: pointer;
    position: relative;
    width: 1.9063rem;
    height: 1.9063rem;
    background-color: var(--color-red-low);
    border: solid 1px var(--color-red);
    color: var(--general-font);
    border-radius: 50%;
    margin-right: 0.75rem;
    margin-bottom: 0.4375rem;
}

.circle-button:hover {
    background-color: var(--color-red);
    border: solid 1px var(--color-red-low);
}

.photo-item {
    position: relative;
    display: inline-block;
    background-color: var(--color-font-skill-card-info);
    height: 5rem;
    min-height: 5rem;
    width: 7.1875rem;
    min-width: 7.1875rem;
    border-radius: 1.25rem 0 1.25rem 1.25rem;
    margin: 0.1875rem;
}

.add-element-galery {
    padding: 0;
    margin: 0;
    font-size: 52px;
    /* width: calc(1/100%); */
}

.element-galery {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    /* width: calc(2/100%); */
}

.galery {
    height: 90px;
    padding: 0;
    margin: 0;
    width: 100%;
}

.background-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* .item-n-1 {
    background: url('/assets/firework.jpg');
}

.item-n-2 {
    background: url('/assets/rain.jpg');
}

.item-n-3 {
    background: url('/assets/woman.jpg');
} */

.card-static {
    padding: 0.8125rem 1.5625rem 0 1.5625rem;
}

.font-galery {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.0005625px;
    margin-bottom: 1.3125rem;
}

.galery-title{
    color: var(--color-font-skill-card-title);
    margin: 0;
}

.imgViewContent{
    display: block;
    height: 5rem;
}